html, button, input {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Staatliches', cursive;
}

h3 {
  margin-right: 0.5em;
}

body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  height: 3em;
  align-items: center;
  width: 100%;
}

button {
  text-transform: uppercase;
  padding: 5px 15px;
  border: 2px black solid;
  border-radius: 30px;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

input {
  padding: 5px 5px;
  border-radius: 5px;
  box-shadow: transparent;
  margin-right: 0.5em;
}

.settings-button-container {
  display: flex;
  z-index: 2;
  width: 150px;
  height: 3em;
  justify-content: center;
  align-items: center;
  background-color: white;
}

#settings-button {
  z-index: 3;
}

.settings {
  display: flex;
  flex-direction: row;
  align-content: center;
  transform: translateX(-105%);
  transition: transform 500ms;
  z-index: 1;
}

.settings > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1em;
}

.settings-open.settings {
  transform: none;
}

.color-button {
  height: 30px;
  width: 30px;
  padding: 0;
  margin-right: 0.3em;
}

#blue {
  background-color: #C0EDF9;
}

#coral {
  background-color: #F9C0C0;
}

#lavender {
  background-color: #CCC0F9;
}

#white {
  background-color: #FFFFFF;
}

#green {
  background-color: #CDF9C0;
}

#yellow {
  background-color: #F9F0C0;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  height: 3em;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#photo-container {
  height: 80vh;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}